*{
    margin: 0;
    padding: 0;
}
header{
    background-color: cornsilk;
}
h1{
    text-align: center;
    padding: 10px;
}
ul{
    list-style: none;
    text-align: center;
    background-color: grey

}
a{
    text-decoration: none;
    color: wheat;
}
li{
    display: inline-block;
    padding: 5px 20px;
}

a:hover{
    color:red;
    transition: 0.3s;
}
.box{
    display: inline-block;
    width: 200px;
    background-color: aqua;
    margin: 10px;
}
main{
    text-align: center;
}
h2{
    padding: 10px;
    ;
}
.photo>img{
    width: 100%
}
.title{
    padding: 10px 5px;
}
footer{
    background-color: gray;
    padding: 30px;
}